* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    list-style: none;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.undotted {
    list-style-type: none;
}

label {
    cursor: pointer;
}

ul li {
    list-style-type: none;
}

/* стилизация breadcrumbs */

.breadcrumbs__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
    margin-top: 15px;
}

.breadcrumbs__link {
    font-family: 'Crimson Text', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;
}
  
.breadcrumbs__button {
    background-image: url(../img/icon/vector_contact.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    width: 8px;
    height: 12px;
}

/* стилизация header */

.header {
    display: flex;
    margin-top: 50px;
    align-items: center;
}

.header__nav {
    display: flex;
}

.header__list {
    display: flex;
}

.left {
    margin-right: auto;
}

.header__logo {
    margin-right: 60px;
}

.header__list-link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;
    margin-right: 20px;
}

.header__list-search {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;
    margin-left: 23px;
}

/* стилизация main  */

.title {
    font-family: 'Montserrat', sant-serif;
    font-style: normal;
    font-weight: 700;
    color: #1E0606;    
}

.subtitle {
    font-family: 'Crimson Text', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    padding-bottom: 29px;
    padding-top: 20px;
}

.caption__info {
    background-color: #000000;;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    max-width: max-content;
    padding: 9px 22px;
    border: none;
}

.button {
    max-width: max-content;
    border: none;
}

.text__decorative {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

/* contact us */

.contact__form {
    max-width: 680px;
    background-color: #E5EAF8;
    margin: auto;
    padding: 42px 40px;
}

.column__two-input {
    display: flex;
    max-width: 600px;
    gap: 20px;
}

.label__wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.contact__label {
    margin-bottom: 3px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;
}

.contact__input {
    width: 290px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.contact__input-name {
    width: 100%px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.contact__input-name::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #1E0606;
    padding-left: 20px;
    padding-top: 13px;
    padding-bottom: 11px;
}

.contact__area {
    width: 100%;
    height: 150px;
    resize: none;
    border: none;
}

.checkbox {
    display: flex;
    position: relative;
}

.checkbox__input {
    position: absolute;
    opacity: 0;
    margin: 0;
}

.checkbox__text {
    margin-left: 33px;
    font-size: 14px;
    line-height: 19px;
    margin-top: 22px;
    margin-bottom: 17px;
}

.checkbox__text::before {
    position: absolute;
    content: url(../img/icon/square.png);
    cursor: pointer;
    width: 14px;
    height: 14px;
    margin-left: -31px;
}

/* стилизация pagination */

.pagination__list {
    display: flex;
    margin-top: 53px;
    margin-bottom: 63px;
}

.pagination__number {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #1E0606;
    margin-right: 64px;
}

.pagination__button-left {
    background-image: url('../img/icon/left.svg');
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    width: 13px;
    height: 26px;
    margin-right: 457px;
}

.pagination__button-right {
    background-image: url('../img/icon/right.svg');
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    width: 13px;
    height: 26px;
    margin-left: 393px;
}