* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    list-style: none;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.undotted {
    list-style-type: none;
}

label {
    cursor: pointer;
}

ul li {
    list-style-type: none;
}

/* стилизация breadcrumbs */

.breadcrumbs__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 15px;
}

.breadcrumbs__link {
    font-family: 'Crimson Text', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;
}

.breadcrumbs__link::after {
    content: "";
    background-image: url('../img/icon/vector_contact.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    width: 8px;
    height: 12px;
    padding-left: 48px;
}

.breadcrumbs__list-item:last-child .breadcrumbs__link::after {
    display: none;
}

.breadcrumbs__list-item:last-child {
    opacity: 0.5;
}
  
/* стилизация header */

.header {
    display: flex;
    margin-top: 50px;
    align-items: center;
}

.header-change:hover {
    opacity: 0.5;
}

.header-change:active {
    opacity: 0.2;
}

.header__nav {
    display: flex;
}

.header__list {
    display: flex;
}

.left {
    margin-right: auto;
}

.header__logo {
    margin-right: 60px;
}

.header__list-link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;
    margin-right: 20px;
}

.header__list-search {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;
    margin-left: 25px;
}

/* стилизация main  */

.title {
    font-family: 'Montserrat', sant-serif;
    font-style: normal;
    font-weight: 700;
    color: #1E0606;    
}

.caption__info {
    background-color: #000000;;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    max-width: max-content;
    padding: 9px 22px;
    border: none;
}

.caption__info:hover {
    background-color: #C29974;
}

.caption__info:active {
    background-color: #CFAF91;
}

.caption__info:disabled {
    background-color: #C7C1C1;
}

.button {
    max-width: max-content;
    border: none;
}

.text__decorative {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

/* contact us */

.contact__form {
    max-width: 680px;
    background-color: #E5EAF8;
    margin: auto;    
    padding: 42px 40px;
}

.column__two-input {
    display: flex;
    max-width: 600px;
    gap: 20px;
}

.label__wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.contact__label {
    margin-bottom: 3px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;
}

.contact__input {
    width: 290px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.contact__input-name {
    width: 100%px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.contact__input-name::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #1E0606;
    padding-left: 20px;
    padding-top: 13px;
    padding-bottom: 11px;
}

.contact__area {
    width: 100%;
    height: 150px;
    resize: none;
    border: none;
    margin-top: 5px;
}

.checkbox {
    display: flex;
    position: relative;
    margin-bottom: 15px;
    margin-top: 20px;
}

.checkbox__input {
    position: absolute;
    opacity: 0;
    margin: 0;
}

.checkbox__text {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #1E0606;
    margin-left: 35px;
}

.checkbox__text::before {
    position: absolute;
    content: "";
    background-image: url('../img/icon/square.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    width: 19px;
    height: 19px;
    margin-left: -35px;
}

.checkbox__input:checked +.checkbox__text::before{
    background-image: url('../img/icon/contact-checked.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: right;
    background-position-y: top;
    width: 19px;
    height: 19px;
}

.checkbox__text:hover,
.checkbox__text:active {
    text-decoration: underline;
}

.checkbox__input:disabled + .checkbox__text::before {
    content: "";
background-image: url("../img/icon/square-disabled.svg");

}

.checkbox__input:disabled + .checkbox__text {
    color: #908484;
    text-decoration: none;
}

/* стилизация pagination */

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination__list {
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 64px;
}

.pagination__number {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #1E0606;
}

.number-active {
    color: #C29974;
    padding-right: 5px;
}

.pagination__number:hover,
.pagination__number:active {
    color: #AAAAAA;
}

path:hover {
    stroke: #C29974;
    stroke-opacity: 1;
}

path:active {
    stroke: #C29974;
    stroke-opacity: 0.7;
}

/* footer */

.footer {
    display: flex;
    background-color: #434343;
}

.footer__box {
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 100px;
}

.navigation__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer__link {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.footer__link:hover {
    opacity: 0.5;
}

.footer__link:active {
    opacity: 0.2;
}

.link__name {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #AAAAAA;
    border-bottom: 1px solid #666666;
    padding-bottom: 23px;
    margin-bottom: 28px;
    padding-right: 300px;
}

.footer__information {
    padding-left: 20px;
}

.information__name {
    padding-right: 213px;
}

.information__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer__connect {
    padding-left: 20px;
}

.connect__name {
    padding-right: 318px;
    margin-bottom: 25px;
}

.connect__wrapper {
    display: flex;
}

.connect__email {
    height: 40px;
    width: 299px;;
    border: none;
    background-color: #666666;
}

.connect__email:hover, 
.connect__email:active {
    border: 1px solid #FFFDFD;
}

.connect__email::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #EBEBEB;
    padding: 9px 15px;  
}

.media-icons {
    padding-top: 25px;
}

.media-icons__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.media-icons__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;    
    border-radius: 15px;
    background-color: #666666;
}

.media-icons__link:hover {
    opacity: 0.5;
}

.media-icons__link:active {
    opacity: 0.2;
}

.free-box {
    display: flex;
    border-top: 1px solid #666666;
    padding-top: 23px;
    margin-top: 28px;
    width: 100%;
}

.rating {
    display: flex;
}

.rating__caption {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.rating__caption-web {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #A2A2A2;
    padding-left: 109px;
}

.rating__caption-web:hover, 
.rating__caption-web:active {
    text-decoration-line: underline;
    color: #FFFFFF;
}

.rating__group {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 150px;
    height: 16px;
}

.rating-5 {
    margin-left: 28px;
}

.rating__title {
    padding-top: 5px;
}

.rating__star {
    position: absolute;
    display: none;
    margin: 0;
}

.label-rating {  
    background-image: url('../img/icon/star.svg');
    background-repeat: no-repeat;    
    background-size: contain; 
    background-size: 15px 13px;
    width: 15px;
    height: 13px;
    margin-right: 5px;
    padding-right: 15px;
}

.rating__star:checked,
.rating__star:checked ~ .label-rating {
    background-image: url('../img/icon/star-checked.svg');
}

.rating__star:hover,
.rating__star:hover ~ .label-rating {
    background-image: url('../img/icon/star-hover.svg');
}

.rating__group:hover,
.rating__group:active {
    color: #C29974;
    cursor: pointer;
}
