/* main */

/* section banner */

.banner {
    background-color: #EEE4DB;
    display: flex;
    flex-wrap: wrap;
    margin-top: 129px;
    position: relative;
}

.banner__list {
    display: flex;
    flex-direction: column;
    padding-top: 17px;
    padding-left: 28px;
}

.switch {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 60px;
    line-height: 73px;
    width: 61px;
    height: 74px;
    color: rgba(30, 6, 6, 0.05);
    margin-bottom: 10px;
}

.basic {
    display: flex;
    flex-direction: column;
    padding-top: 89px;
    padding-left: 44px;
}

.title {
    font-family: 'Montserrat', sant-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    color: #1E0606;
    width: 66%;
    margin-bottom: 20px;
}

.subtitle {
    font-family: 'Crimson Text', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    padding-bottom: 20px;
}

.button {
    max-width: max-content;
    border: none;
    margin-bottom: 89px;
}

.info {
    background: #000000;
    color: #FFFFFF;
    font-family: 'Open Sans', sant-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    max-width: max-content;
    padding: 9px 22px;
}

.text {
    background: #C29974;
    padding: 11px 364px;
    font-family: 'Open Sans', sant-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    margin-top: 109px;
    width: 100%;
}

.banner__img {
    position: absolute;
    top: -88px;
    right: 99px;
}

/* section product */

.title-two {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    color: #1E0606;
    width: 100%;
}

.products {
    margin-top: 90px;
}

.categories {
    display: flex; 
    justify-content: space-between;
    margin-top: 30px;  
    gap: 20px;      
}

   
.product {
    display: inline-flex; 
    justify-content: space-between;   
    align-items: center;
}

.categories__link {
    display: inline-flex;
}

.modern {
    display: flex;
    margin-top: 33px;
}

.but {
    background: rgba(112, 187, 220, 0.2);
    width: 37px;
    height: 37px;
    margin-right: 6px;
}

.modern-text {
    width: 50%;
    padding-left: 14px;
}

/* section business */

p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

.business {
    display: flex;
    margin-top: 90px;
}

.delivery {
    display: flex;
    flex-direction: column;
    padding-left: 120px;
    padding-top: 30px;
}

.delivery-link {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    color: #1E0606;
}

.delivery-link-delivery {
    padding-top: 17px;
}

.delivery-link-guarantee {
    padding-top: 22px;
}

.delivery-link-credit {
    padding-top: 22px;
}

.discciption-work {
    padding-top: 30px;
}

.discciption-thank {
    padding-top: 15px;
    padding-bottom: 26px;
}

/* class social */

.social {
    display: flex;
    justify-content: space-between;
    padding-top: 91px;
}
    
.social-link {
    display: inline-flex;
}

/* section aboutUs */

.aboutUs {
    display: flex;
}

.design {
    display: flex;
    flex-direction: column;
    background: #E1F0F7;
    margin-right: 57px;
    margin-top: 116px;
    padding-left: 30px;
}

.title-two-design {
    margin-top: -26px;
    margin-bottom: 10px;
}

.information {
    display: flex;
    flex-direction: column;
    background: #E1F0F7;
    margin-top: 116px;
    padding-left: 57px;

}

.title-two-information {
    margin-top: -26px;
    margin-bottom: ;
}

/* footer */

.connect {
    background: #434343;
    display: flex;
    flex-wrap: wrap;    
    /* font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF; */
}

.connect-navigation {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-left: 110p;
}

.title-navigation {
    
}

.connect-information {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-left: 20px;
}

